{% extends "main.html" %}
{% block content %}
<div class="card card-section item-info-card">
	<div class="row banner menu">
		<div class="col-md-12 padding-none">
			<h1>Edit Catalog Item</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 padding-top">
			<form method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name" value="{{item.name}}">
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>
					<label for="difficulty">Difficulty:</label>
					<div class="input-group">
						<div class="input-group-addon">Diff</div>
						<input type ="text" class="form-control" maxlength="10" name="difficulty" value="{{item.difficulty}}">
					</div>
					{% include "category_form_list.html" %}
					<button type="submit" class="btn btn-success" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Update</button>
					<a href="{{ url_for('showCatalog') }}" class="btn btn-default">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}